:root{
    --primary:#24292E;
    --light:#FFFFFF;
    --secondary:#FED054;
    --lightgray:#7F888E;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;   
}
body{
    background-color:var(--primary);
    color:var(--lightgray);
    font-family:Roboto,Arial,sans-serif;
    font-size:14px;
    line-height:1.5;  
}
a{
    text-decoration:none;
    color:var(--secondary);
}
a:hover{
    text-decoration:underline;
    text-decoration-color:var(--secondary);
}
hr{
 background-color:var(--secondary);
 height:1px;
 border:0px;
 opacity:.2;
}
.container,.footer-container{
    width:100%;
    max-width:1320px;
    padding:50px;
    margin:0 auto;
}
.title-section{
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
  }
.title-section  li{
    list-style:none;
    display:inline;
    font-size:16px;
    padding:10px;
}
.name{
    font-size:40px;
    font-weight:300;
    color:var(--secondary)
}
.title{
    color:var(--light);
    font-size:25px;
    font-weight:300;
}
.about-section,.project-section{
    margin:auto;
}
.about,.projects,.contact{
    color:var(--light);
}
.about,.projects{
    text-align:center;
    font-size:40px;
    font-weight:300;
}
.about-section p{
    font-size:20px;
    width:66%;
    text-align:center;
    margin:0 auto;
    font-weight:300;
}
.about-list{
  display:flex;
  text-align:center;
  margin-top:35px;
  margin-bottom:35px;
  padding-left:100px;
  padding-right:100px;
}
.about-list h5{
    color:var(--light);
    font-size:14px;
}
.about-list ul{
    width:33%;
    padding:20px;
}
.about-list li{
padding:2px;
list-style:none;
}
.project-screen img{
max-width:250px;
margin:5px;
padding:20px;
}
.project-one{
    margin:40px auto;
    width:75%;
    display:flex;
    align-items:center;
}
.project-one h4{
    color:var(--light);
   
}
.project-one p{
    padding-top:5px;
}
.project-one ul li{
    display:inline-block;
}
.project-one li{
    padding-left:5px;
}

.tools,.update{
    display:flex;
    margin-top:5px;
}
.update p{
    display:inline-block;
}
input{
    color:gold;
}
/*Mobile*/
@media (max-width:768px){
    .container{
        padding-left:16px;
        padding-right:16px;
        padding-top:40px;
        padding-bottom:40px;
    }
    .title-section,.about-section{
        width:auto;
        text-align:center;
    }
    .about-section p{
        font-size:18px;
        margin-bottom:24px;
    }
    .about-list{
        display:block;
    }
    .about-list li{
        padding:5px
    }
}